:root {
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    --bs-border-radius: 0.8rem;
}

.sale-title {
    a {
        &:hover {
            color: #8a8982 !important;
        }

        &:after {
            position: absolute;
            bottom: -10px;
            content: '';
            height: 3px;
            width: 80px;
            left: calc(50% - 40px);
            background: #8a8982;
        }
    }
}

.sale-products {
    min-height: 500px;
}