// :root {
//     --bs-border-radius: 0.8rem;
// }

.sale-title {
    a {
        &:hover {
            color: #8a8982 !important;
        }

        &:after {
            position: absolute;
            bottom: -10px;
            content: '';
            height: 3px;
            width: 100px;
            left: calc(50% - 50px);
            background: #8a8982;
        }
    }
}

.uytin {

    &:after {
        position: absolute;
        bottom: -10px;
        content: '';
        height: 3px;
        width: 200px;
        left: calc(50% - 100px);
        background: #8a8982;
    }
}

.sale-products {
    min-height: 500px;
}