@media screen and (max-width : 425px) {
    thead {
        display: none;
    }

    tbody {
        td {
            border-bottom-width: inherit !important;
        }

        tr {
            display: flex;
            flex-direction: column;

            .dongia {
                display: none;
            }
        }
    }
}

@media screen and (max-width : 1024px) {
    td {
        max-width: 200px;
    }
}