.slick-arrow {
    background-color: #040404 !important;
    color: unset !important;
    border-radius: 50%;



    .slick-prev {
        left: 0px;
        z-index: 999;
    }

    .slick-next {
        right: 0px;
        z-index: 999;
    }

    &:hover {
        background-color: black !important;
    }
}

@media screen and (max-width: 768px) {

    .slick-prev,
    .slick-next {
        display: none !important;
    }
}