.slick-arrow {
    background-color: #c7c7c7 !important;
    color: unset !important;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;


    .slick-prev {
        left: 0px;
        z-index: 999;

    }

    .slick-next {
        right: 0px;
        z-index: 999;
    }

    &:hover {
        background-color: black !important;
    }
}

@media screen and (max-width: 768px) {

    .slick-prev,
    .slick-next {
        display: none !important;
    }
}