.title-product {
    font-size: 20px;
    font-weight: 600;

}


.product-inf {
    position: relative;

    .line-price {
        .ProductPrice {
            font-size: 30px;
            color: #000;
        }
    }
}

.imgdown {
    margin-top: 10px;
    display: flex;
    gap: 15px;

    .imgSmall {
        cursor: pointer;

        .active {
            border: 2.5px solid orange !important;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

}

// select {
//     background-color: #fafafa;
//     border: none;
//     border-radius: 3px;
//     outline: none;
//     width: 120px;
//     height: 27px;
// }

.product-short-desc {
    ul li {
        margin-bottom: 10px;
    }
}

.quantity-Product {
    #quantity {
        width: 50px;
        text-align: center;
    }
}

.form-select {
    width: unset;
}

select {
    cursor: pointer;

    option {
        cursor: pointer;
    }
}